! Urvxt
URxvt.geometry: 100x30
URxvt.background: #000000
URxvt.foreground: #aaaaaa
URxvt.cursorColor: #aaaaaa
URxvt.colorBD: #ffffff
URxvt.highlightColor: #3b4252
URxvt.highlightTextColor: #eceff4
URxvt.scrollBar: true
URxvt.saveLines: 10000
URxvt.perl-ext-common: default,selection-to-clipboard
URxvt.font: fixed,\
 xft:JetBrainsMono Nerd Font Mono:size=10,\
 xft:Noto Sans:size=10,\
 xft:Noto Sans Symbols:size=10,\
 xft:Noto Sans Symbols 2:size=10,\
 xft:Noto Color Emoji:size=10
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:
URxvt.intensityStyles: true
